.container {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  width: 100%;
  height: 100%;
  padding-left: 20px;
}
.title h1 {
  font-size: 25px;
  display: inline;
  color: green;
}
.title h2 {
  font-size: 25px;
  display: inline;
  color: black;
}
.messageContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  white-space: pre-line;
  color: black;
  padding-left: 20px;
}
.input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.input form input {
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
  margin-right: 20px;
  width: 600px;
}
.input form button {
  cursor: pointer;
}

.sideBar {
  width: 100%;
  height: 100vh;
  background-color: green;
}
.main {
  display: grid;
  grid-template-columns: 20% 80%;
}
.sideBar h1 {
  color: white;
  padding-left: 10px;
}
.record {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: green;
  margin-right: 10px;
  border: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.input form button img {
  width: 14px;
  height: 20px;
}
.sideBar ul li {
  color: white;
  list-style: none;
  cursor: pointer;
}
